%div.page-header{style: 'margin-left: 20px; margin-bottom: 100px'}
    %h1 Animações Produzidas

    <p>Seguem abaixo os principais ambientes de demonstração que implementamos ao longo do trabalho.  Mais informações em nossa monografia, disponível na seção <i>Arquivos</i>.</p>
            
    %div.thumbnail{style: 'width: 700px'}
        %video{width: '700', height:'500', autostart:'false', controls:'true'}
            %source{src: 'videos/video-demos.ogv'}
        %h4 Demos
        <p>Primeiras animações produzidas. <a href="http://www.youtube.com/watch?v=ElRVyryzIc8" target=_blank>[YouTube]</a></p>
    %br
    %br
    %div.thumbnail{style: 'width: 700px'}
        %video{width: '700', height:'500', autostart:'false', controls:'true'}
            %source{src: 'videos/video-integracao-angry-bixos.ogv'}
        %h4 Integração com o Exercício-Progama Angry Bixos
        <p>Simulação e animação do EP aplicado na Escola Politécnica no 1º sem. de 2012. <a href="http://www.youtube.com/watch?v=JlJVeWgBFW4" target=_blank>[YouTube]</a></p>
    %br
    %br
    %div.thumbnail{style: 'width: 700px'}
        %video{width: '700', height:'500', autostart:'false', controls:'true'}
            %source{src: 'videos/video-integracao-apolo.ogv'}
        %h4 Integração com o Exercício-Progama Apolo 13
        <p>Simulação e animação do EP aplicado na Escola Politécnica no 1º sem. de 2011. <a href="http://www.youtube.com/watch?v=3pzE-8Yicug" target=_blank>[YouTube]</a></p>
