%div.page-header{style: 'margin-left: 20px; margin-bottom: 100px'}
    %h1 Animações Produzidas

    <p>Seguem abaixo os principais ambientes de demonstração que implementamos ao longo do trabalho.  Mais informações em nossa monografia, disponível na seção <i>Arquivos</i>.</p>
            
    %div.thumbnail{style: 'width: 700px'}
        %video{width: '700', height:'500', autostart:'false', controls:'true'}
            %source{src: 'videos/video-demos.ogv'}
        %h4 Demos
        <p>Primeiras animações produzidas. <a href="http://www.youtube.com/watch?v=ElRVyryzIc8" target=_blank>[YouTube]</a> <br>
        <br>
        Neste vídeo mostramos como executar os ambientes de demonstração do Physimulation e suas principais características. São exibidos, nesta ordem: <i>Rocket Simulation</i>, <i>Valleyball</i>, <i>Cannonball</i>, <i>Lunar Landing</i> e <i>Rocks</i>. Alguns detalhes interessantes são a alteração da velocidade de simulação em <i>Valleyball</i> e a utilização de um vento de intensidade aleatória no sentido contrário ao movimento em <i>Cannonball</i>. </p>
    %br
    %br
    %div.thumbnail{style: 'width: 700px'}
        %video{width: '700', height:'500', autostart:'false', controls:'true'}
            %source{src: 'videos/video-integracao-angry-bixos.ogv'}
        %h4 Integração com o Exercício-Programa Angry Bixos
        <p>Simulação e animação do EP aplicado na Escola Politécnica no 1º sem. de 2012. <a href="http://www.youtube.com/watch?v=JlJVeWgBFW4" target=_blank>[YouTube]</a><br>
        <br>
        A integração com o exercício-programa é feita por meio do arquivo de entrada no mesmo formato do enunciado original e da entrada padrão do usuário, definindo a força e o ângulo de lançamento. O enunciado do EP encontra-se no mesmo diretório do programa de integração.
        </p>
    %br
    %br
    %div.thumbnail{style: 'width: 700px'}
        %video{width: '700', height:'500', autostart:'false', controls:'true'}
            %source{src: 'videos/video-integracao-apolo.ogv'}
        %h4 Integração com o Exercício-Programa Apolo 13
        <p>Simulação e animação do EP aplicado na Escola Politécnica no 1º sem. de 2011. <a href="http://www.youtube.com/watch?v=3pzE-8Yicug" target=_blank>[YouTube]</a><br>
        <br>
        Esta integração com o exercício-programa também é feita por meio do arquivo de entrada do enunciado original, que define valores como a posição e velocidade iniciais da nave. O enunciado do EP encontra-se no mesmo diretório do programa de integração.
        </p>
