%div.page-header
    %h1 Animações Produzidas

    / %a{:href => "videos/video-demos.ogv"} Vídeo com demos
            
    %div.thumbnail{style: 'width: 700px'}
        <iframe width="700" height="500" src="videos/video-demos.ogv" frameborder="0" allowfullscreen></iframe>
        %h4 Ambientes de demonstração
        %p Primeiras animações produzidas.