.page-header{style: 'margin-left: 20px'}
    %h1
        Physimulation
        %p
            %small Animação de Fenômenos Físicos
%div.row-fluid{style: 'margin-left: 20px'}
    %div.span4
        %h3 Introdução
        %p  O foco deste projeto é atrair a atenção dos alunos do IME/USP em relação às disciplinas de física ministradas no curso de bacharelado em Ciência da Computação.

        <p> Visando compreender melhor a situação e apresentar uma proposta de reformulação da grade ou das disciplinas, foi criado no IME o <a href=http://bcc.ime.usp.br>Grupo de Apoio ao BCC</a>, uma iniciativa da Comissão de Coordenação do BCC (CoC). Após as discussões e a aplicação de questionários nos Encontros BCC, um dos consensos de ambas as partes - professores e alunos - foi o de que seria interessante uma maior contextualização destas disciplinas para os alunos em termos de computação. </p>

        %p Em nossa monografia (seção <i>Arquivos</i>) há mais referências e informações sobre o Grupo de Apoio ao BCC.
    %div.span4
        %h3 Programa
        %p O Physimulation é uma ferramenta para simulação e animação de fenômenos físicos e tem como um dos principais objetivos integrar o conhecimento adquirido em FAP-126 (Física I) com um ambiente de programação.

        %p Com o Physimulation, o aluno da disciplina de física poderá simular comportamentos físicos estudados em sala de aula, por meio de criação de cenários e objetos com diferentes propriedades configuráveis. Exemplos de propriedades são: massa, tamanho, posição, velocidade inicial, coeficiente de atrito e de elasticidade.

        %p Desde rampas, pequenas esferas e plataformas fixas a planetas orbitando em torno de um objeto de grande massa, tanto os alunos quanto o professor poderão utilizar o simulador para combinar tais objetos e observar resultados calculados em exercícios. Além disso, estes cenários podem ser guardados no sistema e carregados posteriormente para nova observação.
    %div.span4
        %h3 Exemplo
        %ul.thumbnails
            %li.span3
                %div.thumbnail{style: 'width: 360px'}
                    <iframe width="360" height="270" src="http://www.youtube.com/embed/bHGay1ZlKSY" frameborder="0" allowfullscreen></iframe>
                    %h4 Cenários com o Physimulation
                    <p>Exemplos de cenários físicos criados com o Physimulation. Mais vídeos nas seções <i>Animações</i> e <i>Tutorial</i>.</p>
