.page-header{style: 'margin-left: 20px'}
    %h1
        Physimulation
        %p
            %small Animação de Fenômenos Físicos
%div.row-fluid{style: 'margin-left: 20px'}
    %div.span4
        %h3 Introdução
        %p programa tra lah lah
    %div.span4
        %h3 Programa
        %p asdjsn ajsn janjknajdn jndan jkasndjkanj knajkdn andkandj andkan djkandkja
    %div.span4
        %h3 Exemplo
        %ul.thumbnails
            %li.span3
                %div.thumbnail{style: 'width: 360px'}
                    <iframe width="360" height="270" src="http://www.youtube.com/embed/9bZkp7q19f0?rel=0" frameborder="0" allowfullscreen></iframe>
                    %h4 Vídeo Gangnam Style
                    %p Explicacao bal balbalball adalsdmklamd kamskldam ldmakldmklam dad
