%div.page-header
    %h1 Criando Cenários

    / %a{:href => "videos/video-criando-cenario-1.ogv"} Vídeo 1

    %div.thumbnail{style: 'width: 700px'}
        <iframe width=700" height="500" src="videos/video-criando-cenario-1.ogv" frameborder="0" allowfullscreen></iframe>
        %h4 Exemplo 1
        %p Criação de um cenário com o Physimulation.


            