%div.page-header
    %h1 Criando Cenários

    %div.thumbnail{style: 'width: 700px'}
        %video{width: '700', height:'500', autostart:'false', controls:'true'}
            %source{src: 'videos/video-criando-cenario-1.ogv'}
        %h4 Exemplo 1
        %p Criação de um cenário com o Physimulation.
        %a{:href => "http://www.youtube.com/watch?v=GEkZuRUkRe0"} YouTube
    %br
    %br
    %div.thumbnail{style: 'width: 700px'}
        %video{width: '700', height:'500', autostart:'false', controls:'true'}
            %source{src: 'videos/video-criando-cenario-2-grav.ogv'}
        %h4 Exemplo 2
        %p Criação de um cenário que considera a atração gravitacional entre os corpos.
        %a{:href => "http://www.youtube.com/watch?v=onhsHXqez5U"} YouTube
    %br
    %br
    %div.thumbnail{style: 'width: 700px'}
        %video{width: '700', height:'500', autostart:'false', controls:'true'}
            %source{src: 'videos/video-configs.ogv'}
        %h4 Mais Exemplos
        %p Exemplos de cenários pré-configurados.
        %a{:href => "http://www.youtube.com/watch?v=bHGay1ZlKSY"} YouTube



            