%div.page-header{style: 'margin-left: 20px; margin-bottom: 100px'}
    %h1 Criando Cenários

    %p Abaixo duas demonstrações do processo de criação de cenários e também um exemplo de utilização de cenários pré-configurados. 

    <p> Há um tutorial passo a passo para criação de um cenário básico em nossa monografia (disponível na seção <i>Arquivos</i>). </p>

    %div.thumbnail{style: 'width: 700px'}
        %video{width: '700', height:'500', autostart:'false', controls:'true'}
            %source{src: 'videos/video-criando-cenario-1.ogv'}
        %h4 Exemplo 1
        <p>Criando um cenário com o Physimulation. <a href="http://www.youtube.com/watch?v=GEkZuRUkRe0" target=_blank>[YouTube]</a><br>
        <br>
        Neste vídeo mostramos um exemplo simples de criação de cenário. Começamos com uma pequena esfera e um sistema sob o efeito da força da gravidade. Acrescentamos uma velocidade inicial à esfera e uma plataforma retangular fixa (que não sofre os efeitos da gravidade). Inserimos também um objeto triangular que servirá como uma rampa para a esfera. Por último alteramos a força da gravidade para um valor negativo no eixo vertical e eliminamos as barreiras físicas da tela. <br> 
        <br>
        Todas estas alterações podem ser feitas tanto no criador de cenários quanto no arquivo de configuração.
        </p>
    %br
    %br
    %div.thumbnail{style: 'width: 700px'}
        %video{width: '700', height:'500', autostart:'false', controls:'true'}
            %source{src: 'videos/video-criando-cenario-2-grav.ogv'}
        %h4 Exemplo 2
        <p>Criando um cenário físico que considera a atração gravitacional entre os corpos. <a href="http://www.youtube.com/watch?v=onhsHXqez5U" target=_blank>[YouTube]</a><br>
        <br>
        Podemos ativar o recurso de atração gravitacional entre os objetos da tela e criar sistemas orbitais com o Physimulation. A força de atração será diretamente proporcional à massa dos objetos e inversamente proporcional ao quadrado da distância entre eles. <br> 
        </p>
    %br
    %br
    %div.thumbnail{style: 'width: 700px'}
        %video{width: '700', height:'500', autostart:'false', controls:'true'}
            %source{src: 'videos/video-configs.ogv'}
        %h4 Carregando um cenário físico
        <p>Exemplos de cenários pré-configurados. <a href="http://www.youtube.com/watch?v=bHGay1ZlKSY" target=_blank>[YouTube]</a><br>
        <br>
        Os cenários físicos criados podem ser armazenados no sistema e reproduzidos novamente quando o usuário desejar. Neste vídeo mostramos como carregamos os arquivos de configuração e iniciamos a simulação. Aproveitamos para exibir alguns exemplos de cenários criados ao longo do trabalho.<br> 
        </p>



            